AssistRun/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/AssistRestart/v14/.suo
.vs/AssistRestart/v15/.suo
.vs/AssistRestart/v15/Server/sqlite3/db.lock
.vs/AssistRestart/v15/Server/sqlite3/storage.ide
.vs/AssistRestart/v15/Server/sqlite3/storage.ide-shm
.vs/AssistRestart/v15/Server/sqlite3/storage.ide-wal
.vs/RestartConsle/v14/.suo
.vs/config/applicationhost.config
AssistRestart/App.config
AssistRestart/AssistRun.exe
AssistRestart/Properties/AssemblyInfo.cs
AssistRestart/bin/Debug/Reboot.exe
AssistRestart/bin/Debug/Reboot.pdb
AssistRestart/bin/Debug/Reboot.exe.config
AssistRestart/bin/Debug/Reboot.vshost.exe
AssistRestart/bin/Debug/Reboot.vshost.exe.config
AssistRestart/bin/Debug/Reboot.vshost.exe.manifest
AssistRestart/bin/Release/Reboot.exe
AssistRestart/bin/Release/Reboot.pdb
AssistRestart/bin/Release/Reboot.exe.config
AssistRestart/bin/Release/Reboot.vshost.exe
AssistRestart/bin/Release/Reboot.vshost.exe.config
AssistRestart/bin/Release/Reboot.vshost.exe.manifest
AssistRestart/obj/Debug/AssistRestart.csproj.CoreCompileInputs.cache
AssistRestart/obj/Debug/AssistRestart.csproj.FileListAbsolute.txt
AssistRestart/obj/Debug/AssistRestart.csprojResolveAssemblyReference.cache
AssistRestart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AssistRestart/obj/Debug/Reboot.exe
AssistRestart/obj/Debug/Reboot.pdb
AssistRestart/obj/Debug/RestartConsle.csproj.FileListAbsolute.txt
AssistRestart/obj/Debug/RestartConsle.csprojResolveAssemblyReference.cache
AssistRestart/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AssistRestart/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AssistRestart/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AssistRestart/obj/Debug/project.razor.json
AssistRestart/obj/Release/AssistRestart.csproj.FileListAbsolute.txt
AssistRestart/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AssistRestart/obj/Release/Reboot.exe
AssistRestart/obj/Release/Reboot.pdb
AssistRestart/obj/Release/RestartConsle.csproj.FileListAbsolute.txt
AssistRestart/obj/Release/RestartConsle.csprojResolveAssemblyReference.cache
AssistRestart/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AssistRestart/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AssistRestart/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AssistRun/App.config
AssistRun/Properties/AssemblyInfo.cs
AssistRun/bin/Debug/AssistRun.exe
AssistRun/bin/Debug/AssistRun.pdb
AssistRun/bin/Debug/AssistRun.exe.config
AssistRun/bin/Debug/AssistRun.vshost.exe
AssistRun/bin/Debug/AssistRun.vshost.exe.config
AssistRun/bin/Debug/AssistRun.vshost.exe.manifest
AssistRun/bin/Release/AssistRun.exe.config
AssistRun/bin/Release/AssistRun.vshost.exe
AssistRun/bin/Release/AssistRun.vshost.exe.config
AssistRun/bin/Release/AssistRun.vshost.exe.manifest
AssistRun/obj/Debug/AssistRun.exe
AssistRun/obj/Debug/AssistRun.pdb
AssistRun/obj/Debug/AssistRun.csproj.CoreCompileInputs.cache
AssistRun/obj/Debug/AssistRun.csproj.FileListAbsolute.txt
AssistRun/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AssistRun/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AssistRun/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AssistRun/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AssistRun/obj/Debug/project.razor.json
AssistRun/obj/Release/AssistRun.exe
AssistRun/obj/Release/AssistRun.pdb
AssistRun/obj/Release/AssistRun.csproj.FileListAbsolute.txt
AssistRun/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AssistRun/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AssistRun/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
.vs/AssistRun/v14/.suo
.vs/AssistRun/v15/.suo
.vs/AssistRun/v15/Server/sqlite3/db.lock
.vs/AssistRun/v15/Server/sqlite3/storage.ide
.vs/AssistRun/v15/Server/sqlite3/storage.ide-shm
.vs/AssistRun/v15/Server/sqlite3/storage.ide-wal
AssistRun/bin/Debug/AssistRun.txt
AssistRun/bin/Release/AssistRun.exe
AssistRun/bin/Release/AssistRun.pdb
AssistRun/bin/Release/AssistRun.txt
AssistRun/obj/Debug/AssistRun.csprojResolveAssemblyReference.cache
